GatewayService/src/main/resources/xsd/JourneyManagementModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.srk.org/IVSJourneyManagement/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ivs="http://www.srk.org/IVSJourneyManagement/"
	targetNamespace="http://www.srk.org/IVSJourneyManagement/">
    <xsd:complexType name="Journey">
		<xsd:sequence>
			<xsd:element name="JOURNEY_ID" minOccurs="1"
				nillable="false">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="0"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="STATUS_TIME" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:dateTime">
						<xsd:minInclusive value="1971-01-01T00:00:00"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="STATUS_CODE" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2" />
						<xsd:minLength value="1"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="END_JOURNEY_TIME" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:dateTime">
						<xsd:minInclusive value="1971-01-01T00:00:00"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="END_JOURNEY" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"></xsd:length>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NEXT_BLOCK_ID" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3" />
						<xsd:minLength value="1"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CURRENT_BLOCK_ID" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3" />
						<xsd:minLength value="1"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ATA_EXIT_POINT" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:dateTime">
						<xsd:minInclusive value="1971-01-01T00:00:00"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ETA_EXIT_POINT" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:dateTime">
						<xsd:minInclusive value="1971-01-01T00:00:00"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="EXIT_POINT" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10" />
						<xsd:minLength value="1"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="EXIT_POINT_SOURCE" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"></xsd:length>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ATA_ENTRY_POINT" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:dateTime">
						<xsd:minInclusive value="1971-01-01T00:00:00"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ETA_ENTRY_TYPE" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"></xsd:length>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ETA_ENTRY_POINT" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:dateTime">
						<xsd:minInclusive value="1971-01-01T00:00:00"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ENTRY_POINT" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10" />
						<xsd:minLength value="1"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ENTRY_POINT_SOURCE" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"></xsd:length>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="END_TIME" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:dateTime">
						<xsd:minInclusive value="1971-01-01T00:00:00"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="START_TIME" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:dateTime">
						<xsd:minInclusive value="1971-01-01T00:00:00"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DESTINATION_CODE" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="5" />
						<xsd:minLength value="1"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CENTRE_ID" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3" />
						<xsd:minLength value="1"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CREATOR_ID" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"></xsd:length>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="INFO_SOURCE" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20" />
						<xsd:minLength value="1"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="LABELS" type="LabelsType" maxOccurs="1" minOccurs="0"></xsd:element>
			<xsd:element name="VESSEL" type="Vessel" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Vessel">
		<xsd:sequence>
			<xsd:element name="IS_MASTER" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="STATUS_TIME" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:dateTime">
						<xsd:minInclusive value="1971-01-01T00:00:00"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="STATUS_CODE" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"></xsd:length>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CREATOR_ID" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"></xsd:length>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="RECORD_DATE" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:dateTime">
						<xsd:minInclusive value="1971-01-01T00:00:00"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="FREE_TEXT" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="300"></xsd:maxLength>
						<xsd:minLength value="1"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LICENSE_HOLDER_ID" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="0"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PASSENGERS_ONBOARD" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="0"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CREW_ONBOARD" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="0"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SHELTER_DECK" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"></xsd:length>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MARIFOON" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"></xsd:length>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="HF" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"></xsd:length>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="HELI_DECK" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"></xsd:length>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="GYRO" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"></xsd:length>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SATNAV" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"></xsd:length>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SATCOM_ANSWER" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="6"></xsd:maxLength>
						<xsd:minLength value="1"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SATCOM_ID" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"></xsd:maxLength>
						<xsd:minLength value="1"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SATCOM" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"></xsd:length>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="RADIO_TELEPHONE" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"></xsd:length>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="RADAR" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"></xsd:length>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DOOR_STERN" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"></xsd:length>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DOOR_SIDE" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"></xsd:length>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DOOR_BOW" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"></xsd:length>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TURBINE_KW" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:double">
						<xsd:minInclusive value="0.0"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TURBINE_SHP" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:double">
						<xsd:minInclusive value="0.0"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="OTHER_PROPELLERS" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"></xsd:length>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PROPULSION_TYPE" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"></xsd:maxLength>
						<xsd:minLength value="1"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PROPULSION_POWER" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:double">
						<xsd:minInclusive value="0.0"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PROPULSION_STERN" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4"></xsd:maxLength>
						<xsd:minLength value="1"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PROPULSION_BOW" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4"></xsd:maxLength>
						<xsd:minLength value="1"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PROPELLER_TYPE" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"></xsd:maxLength>
						<xsd:minLength value="1"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MAST_DRAUGHT" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:double">
						<xsd:minInclusive value="0.0"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MAST_HEIGHT" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:double">
						<xsd:minInclusive value="0.0"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MACHINERY_POSITION" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2"></xsd:maxLength>
						<xsd:minLength value="1"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LENGTH_PERP" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:double">
						<xsd:minInclusive value="0.0"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LENGTH_METRE" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:double">
						<xsd:minInclusive value="0.0"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ENGINE_KW" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:double">
						<xsd:minInclusive value="0.0"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ENGINE_HP" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:double">
						<xsd:minInclusive value="0.0"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DESIGN_CODE" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3"></xsd:maxLength>
						<xsd:minLength value="1"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CRUISE_SPEED" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:double">
						<xsd:minInclusive value="0.0"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TOTAL_TANK_CAP" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:double">
						<xsd:minInclusive value="0.0"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TOTAL_TANKS" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="0"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="HEIGHT" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:double">
						<xsd:minInclusive value="0.0"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="GROSS_WEIGHT" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:double">
						<xsd:minInclusive value="0.0"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="BEAM" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:double">
						<xsd:minInclusive value="0.0"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="AXES" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="0"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CLEARANCE_DATETIME" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:dateTime">
						<xsd:minInclusive value="1971-01-01T00:00:00"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CLEARANCE_GIVEN_BY" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3"></xsd:maxLength>
						<xsd:minLength value="1"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SWATH_OPERABLE" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"></xsd:maxLength>
						<xsd:minLength value="1"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ARTICLE_25_STATUS" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"></xsd:length>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ARTICLE_16_STATUS" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"></xsd:length>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MMSI_ID" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"></xsd:maxLength>
						<xsd:minLength value="1"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CALL_SIGN" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="13"></xsd:maxLength>
						<xsd:minLength value="1"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="VESSEL_NAME" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="60"></xsd:maxLength>
						<xsd:minLength value="1"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="VESSEL_TYPE_ID" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"></xsd:maxLength>
						<xsd:minLength value="1"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>





	<xsd:element name="MANAGE_JOURNEY_REQUEST"
		type="ManageJourneyType">
	</xsd:element>

	<xsd:complexType name="ManageJourneyType">
		<xsd:sequence>
			<xsd:element name="EDITED_PARAMETERS" minOccurs="0"
				maxOccurs="1">

				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="JOURNEY" type="Journey" maxOccurs="1"
				minOccurs="1">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="JourneysType">
		<xsd:sequence>

			<xsd:element name="JOURNEYS" type="Journeys" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	   	
		<xsd:complexType name="JourneyType">
		<xsd:sequence>
			<xsd:element name="ACTION" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="EDITED_PARAMETERS" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="JOURNEY" type="Journey" maxOccurs="1"
				minOccurs="0">
			</xsd:element>

		</xsd:sequence>
		</xsd:complexType>
		
		
	


	<xsd:element name="LIST_JOURNEYS_REQUEST" type="ListJourneysType"></xsd:element>

	<xsd:complexType name="ListJourneysType">
		<xsd:sequence>
			<xsd:element name="JOURNEYID" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">

						<xsd:minInclusive value="0"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ListVesselsType">
		<xsd:sequence>
			<xsd:element name="JOURNEYID" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">

						<xsd:minInclusive value="0"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>







	<xsd:complexType name="Vessels">
		<xsd:sequence>
			<xsd:element name="VESSEL" type="Vessel"
				maxOccurs="unbounded" minOccurs="0">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Journeys">
		<xsd:sequence>
			<xsd:element name="JOURNEY" type="Journey" maxOccurs="unbounded" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:element name="LIST_VESSELS_REQUEST"
		type="ListVesselsType">
	</xsd:element>

	<xsd:complexType name="VesselsType">
    	<xsd:sequence>
    		<xsd:element name="JOURNEY_VESSELS" type="Vessels"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>


	<xsd:complexType name="LabelsType">
		<xsd:sequence>
			<xsd:element name="LABEL" type="LabelType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="LabelType">
		<xsd:sequence>
			<xsd:element name="LABEL_CODE" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LABEL_WEIGHT" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:double">

						<xsd:minInclusive value="0.0"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="MANAGE_JOURNEY_RESPONSE"
		type="JourneyType">
	</xsd:element>
	<xsd:element name="LIST_JOURNEYS_RESPONSE" type="JourneysType">
	</xsd:element>
	<xsd:element name="LIST_VESSELS_RESPONSE" type="VesselsType"></xsd:element>
	

	<xsd:complexType name="MessageStatus">
		<xsd:sequence>
			<xsd:element name="STATUS" type="xsd:string"></xsd:element>
			<xsd:element name="MESSAGE" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>